
.navbar-btn{

	  margin-right: 10px;

}
body { padding-top: 70px; 
	padding-bottom: 70px; 
	font-family: Arial;}
		a:hover{font: black;}

.navbar-inverse{
	background-color: #9966cc;
}
